/*primary*/
$blue: $primary_brand;
/*secondary*/
$indigo: $secondary_color;
/*success*/
$green: $accent-color;
/*info*/
$cyan: $accent2;
/*warning*/
$yellow: $accent3;
/*danger*/
$red: $accent4;
/*Bootstrap Defaults*/
$purple: #6f42c1;
$pink: #8636a7;
$orange: #868395;
$teal: #20c997;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$grays: (100: $gray-100, 200: $gray-200, 300: $gray-300, 400: $gray-400, 500: $gray-500, 600: $gray-600, 700: $gray-700, 800: $gray-800, 900: $gray-900);
$theme-colors: (primary: $blue, 1_primary: $blue, secondary: $indigo, 2_secondary: $indigo, success: $green, 3_success: $green, info: $cyan, 4_info: $cyan, warning: $yellow, 5_warning: $yellow, danger: $red, 6_danger: $red, light: $gray-100, 7_light: $gray-100, dark: $dark, 8_dark: $dark, white: $white);
$colors: (blue: $blue, indigo: $indigo, purple: $purple, pink: $pink, red: $red, orange: $orange, yellow: $yellow, green: $green, teal: $teal, cyan: $cyan, white: $white, gray: $gray-600,gray-dark: $gray-800);
$theme-color-interval: 8%;
